{% for prestation in prestations %}
    <div id="prestation-{{ prestation.id }}" class="max-w-2xl mx-auto mt-8 bg-white p-6 shadow rounded hidden">

        <div class="flex justify-between">
            <h3 class="text-lg font-semibold text-gray-700 mb-2">Description :</h3>
            <button
                    data-target="prestation-{{ prestation.id }}"
                    class="retour bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition">
                Liste des prestations
            </button>
        </div>

        <p class="text-gray-600 mb-4">
            {{ prestation.description|default('Pas de description disponible.')|e }}
        </p>

        <p class="text-gray-800 font-medium">
            Tarif :
            <span class="text-green-600">{{ prestation.tarif is not null ? prestation.tarif ~ ' €' : 'Non renseigné' }}</span>
        </p>

        <p class="text-gray-800 font-medium">
            Unité :
            <span class="text-blue-600">{{ (prestation.unite is not null ? prestation.unite : 'Non renseigné')|upper }}</span>
        </p>

        <img class="mt-4" src="./images/img/{{ prestation.img }}" alt="{{ prestation.img }}">
    </div>
{% endfor %}
