<header class="top-0 left-0 w-full bg-white shadow-md z-50">
    <div class="mx-auto px-4 py-4 flex justify-between items-center">
        <a href="{{ url_for('homepage') }}" class="text-2xl font-bold text-purple-600">
            🎁 Giftbox
        </a>

        <div class="flex items-center space-x-4">
            {% if user %}
                <p>👤 {{ user.user_id }}</p>
            {% else %}
                <p>Aucun utilisateur connecté</p>
            {% endif %}
            <div class="relative" x-data="{ open: false }">
                <a href="{{ url_for('CreerCoffret') }}" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition flex items-center justify-between">
                    <span>Créer une box</span>
                </a>
            </div>


            <div class="relative" x-data="{ open: false }">
                <button id="profil_button" class="bg-gray-100 px-4 py-2 rounded hover:bg-gray-200 flex items-center space-x-2">
                    <span>Profil</span>
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </button>

                <div id="dropdown-menu-profil" class="absolute right-0 mt-2 w-40 bg-white border rounded shadow-lg z-50 py-2 hidden">
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100">Mon profil</a>
                    <a href="{{ url_for("myBox") }}" class="block px-4 py-2 hover:bg-gray-100">Mes coffrets</a>
                    <div class="border-t my-1"></div>
                    {% if user %}
                        <a href="{{ url_for("signout") }}" class="block px-4 py-2 text-red-600 hover:bg-red-100">Déconnexion</a>
                    {% else %}
                        <a href="{{ url_for("signin") }}" class="block px-4 py-2 text-red-600 hover:bg-red-100">Connexion</a>
                        <a href="{{ url_for("creer_compte") }}" class="block px-4 py-2 text-red-600 hover:bg-red-100">S'enregistrer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function closeAllDropdowns() {
            const dropdowns = document.querySelectorAll('[id^="dropdown-menu-"]');
            dropdowns.forEach(dropdown => {
                dropdown.classList.add("hidden");
            });
        }

        document.querySelector("body").addEventListener("click", ev => {
            closeAllDropdowns();
        });

        //clique sur le bouton de profil
        document.getElementById("profil_button").addEventListener("click", ev => {
            //stopper l'event de clique sur le body
            ev.stopPropagation();

            closeAllDropdowns();
            document.getElementById("dropdown-menu-profil").classList.toggle("hidden");
        });
    </script>
</header>
